<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="handlebars-v3.1.0.js"></script>
</head>
</head>
</head>
<body>
    {{{ body }}}
</body>
</html>
